<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link rel="apple-touch-icon" href="/logo192.png"/><link rel="manifest" href="/manifest.json"/>
    <title>React App</title>
    <link href="/static/css/main.5f361e03.chunk.css" rel="stylesheet">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="tweetme">

    </div>
    <script src="/static/js/main.a7b7c240.chunk.js"></script>
</body>
</html>